* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #000000;
    color: #dddd;
    user-select: none;
    scroll-behavior: smooth;
}

* a {
    text-decoration: none;
    color: inherit;
}

.logo-nav {
    max-width: 800px;
    margin:0 auto;
    padding: 30px 20px;
    /* background: khaki; */
}

/* Logo */
.logo {
    max-width: 180px;
    margin: 0 auto 20px auto;
    /* background: lavender; */
}
.website-logo {
    width: 100%;
}

/* Navigation */
.navigation {
    max-width: 700px;
    /* background: lawngreen; */
    padding: 10px;
    margin: 10px auto;
}
.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Heading */
.heading {
    max-width: 1800px;
    margin: 15vh auto;
    /* background:lavenderblush; */
    /* border: 3px solid gold; */
    padding: 20px;

}
.heading-box {
    /* background: cornflowerblue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.h-box1,.h-box2 {
    margin: 70px 0;
}
.h-box1 {
    max-width: 700px;
    /* background: blueviolet; */
}
.h-box2 {
    width: 600px;
    /* background: burlywood; */
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}
.header-img {
    animation: bounce 0.8s infinite alternate;
    height: auto;
    width: 100%;
    /* border: 3px solid gold; */
}

.h-intro {
    font-size: 70px;
    background: linear-gradient(to right, rgb(204, 194, 211), rgb(255, 217, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hb-intro {
    font-size: 70px;
    color: rgb(224, 224, 224);
    margin:0 0 30px 0;
}
.sub-intro {
    margin: 20px 0 40px 0;

    font-size: 22px;
    color: rgb(158, 158, 158);
}
@keyframes vinyl {
    0% {
        background-image: linear-gradient(to right, #fb7ba2, #fce043);       
    }
    50% {
        background-image: linear-gradient(to right, #ff4980, #eeca00);   
    }
    70% {
        background-image: linear-gradient(to right,#fce043, #fb7ba2);       
    }
    100% {
        background-image: linear-gradient(to right, #fb7ba2, #fce043);       
    }
}
.mintBtn {
    animation-name: vinyl;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    background-image: linear-gradient(to right, #fb7ba2, #fce043);   
    color: white;
    padding: 12px 50px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 6px;
}





/* Possibilites Section */
.possibilities-section {
    max-width: 1800px;
    /* background:coral; */
    margin: 15vh auto;
    padding: 20px;
}
.posb-heading {
    max-width: 700px;
    margin: 40px auto;
    text-align: center;
}
.posb-heading h3 {
    font-size: 15px;
    margin: 0px;
    padding: 5px;
}
.posb-heading h1 {
    font-size: 35px;
    margin: 0px;
    padding: 5px;
    font-weight: 900;
    background: linear-gradient(to right, rgb(245, 228, 255), rgb(255, 217, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.posb-heading p {
    text-align: center;
    font-size: 20px;
    color: rgb(139, 139, 139);
}
.posb-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.posb-boxes > div {
    max-width: 300px;
    min-height: 300px;
    padding: 16px;
    /* background: burlywood; */
    margin: 40px;
    border-radius: 6px;
    text-align: center;
}
.posb-boxes > div img {
    border-radius: 50%;
    margin-bottom: 15px;
}
.posb-boxes > div h2 {
    font-size: 20px;
    margin: 5px 0;
}
.posb-boxes > div p {
    font-size: 16px;
    margin: 5px 0;
}
.gradient-module {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgb(214, 182, 0), rgb(0, 0, 0))1 100%;
}

/* mint-section */
.mint {
    max-width: 500px;   
    min-height: 300px;
    background: rgb(23, 31, 31);
    border: 3px solid rgb(158, 134, 0);
    border-radius: 6px;
    margin: 15vh auto;
    padding: 15px;
}

/* about us */
.about-us {
    width: 95%;
    max-width: 1800px;
    min-height: 800px;
    margin: 15vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    /* background: darkkhaki; */
}
.about-box {
    width: 95%;
    height: 95%;
    margin: auto;
    /* background: cadetblue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.about-box > div:nth-child(1) {
    width: 800px;
    height:1000px;
    z-index: 2;
    /* background: rgba(255, 0, 0, 0.5); */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3rem);
    margin-right: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-box > div:nth-child(1) > div {
    width: 90%;
    height: 80%;
    color: black;
}
.about-box > div:nth-child(1) > div h1 {
    text-align: center;
    font-weight: 900;
    font-size: 35px;
    background: linear-gradient(to bottom right, rgb(220, 206, 255), rgb(255, 217, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}
.about-box > div:nth-child(1) > div h3 {
    text-align: center;
    font-size: 20px;
    color: rgba(139, 139, 139,0.8);
    margin-bottom: 10px;
}
.about-box > div:nth-child(1) > div p {
    line-height: 1.6rem;
    margin-bottom: 20px;
    font-size: 18px;
    color: rgba(139, 139, 139,0.8);
    margin-bottom: 10px;
}
.about-box > div:nth-child(2) {
    /* background: crimson; */
    margin-left: -70px;
    padding: 0;
    max-width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-box > div:nth-child(2) > div{
    
}
.video-1 {
    max-width: 700px;
    height: auto;
    z-index: 1;
    margin-bottom: 20px;
}
.video-1:hover,:focus {
    z-index: 5;
    transition: .3s ease-in-out;
    box-shadow: 6px 6px 40px rgb(46, 46, 46);
}
.video-1 video {
    width: 100%;
    height: auto;
    border-radius: 6px;   
}
.video-2 {
    max-width: 700px;
    height: auto;
    z-index: 1;
}
.video-2:hover,:focus,:active {
    z-index: 5;
    transition: .3s ease-in-out;
    box-shadow: 6px 6px 40px rgb(46, 46, 46);
}
.video-2 video {
    width: 100%;
    height: auto;
    border-radius: 6px;
}
@media (min-width:1600px) {
    
.video-1 {
    max-width: 700px;
    height: auto;
    z-index: 1;
    margin-bottom: 20px;
}
.video-1:hover,:focus {
    z-index: 5;
    transition: .3s ease-in-out;
    box-shadow: 6px 6px 40px rgb(46, 46, 46);
}
.video-1 video {
    width: 100%;
    height: auto;
    border-radius: 6px;   
}
.video-2 {
    width: 700px;
    height: auto;
    z-index: 1;
}
.video-2:hover,:focus,:active {
    z-index: 5;
    transition: .3s ease-in-out;
    box-shadow: 6px 6px 40px rgb(46, 46, 46);
}
.video-2 video {
    width: 100%;
    height: auto;
    border-radius: 6px;
}
}
/* project section */
.cover-project {
    background:rgba(90, 90, 90, 0.2);
    padding: 5vh 0;
    margin: 20vh auto;
}
.project-section {
    max-width: 1800px;
    height: auto;
    padding: 15px;
    margin: 0 auto;
    /* background: rgb(0, 80, 80); */
}
.project-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.project-boxes > div:nth-child(1) {
    max-width: 600px;
    /* background: cornflowerblue; */
}
.project-boxes > div:nth-child(1) img {
    width: 100%;
    border-radius: 6px;
}
.project-boxes > div:nth-child(2) {
    max-width: 900px;
}
.pb2 {
    padding: 15px;
}
.pb2 h1{
    font-size: 28px;
    margin-top: 40px;
    margin: 10px 0;
    background: linear-gradient(to bottom right, rgb(220, 206, 255), rgb(255, 217, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.pb2 p {
    font-size: 20px;
    line-height: 1.6rem;
    color: rgb(146, 146, 146);
}

/*roadmap  */
.roadmap {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    min-height: 200px;
    color: black;
    background: linear-gradient(to bottom right, rgb(220, 206, 255), rgb(255, 217, 0));
}

/* footer */
footer {
    width: 100%;
    min-height: 300px;
    /* background: rgb(0, 52, 70); */
    margin-top: 15vh;
    padding: 40px;
    color: rgb(110, 110, 110);
}
footer img {
    max-width: 300px;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 70px;
}
.footer-container > div:nth-child(1) {
    max-width: 300px;
    text-align: center;
}
.footer-container > div:nth-child(2) {
    max-width: 600px;
    /* background: chartreuse; */
}
.copyright {
    text-align: center;
    color: rgb(85, 85, 85);
    font-size: 15px;
}



/* Laptop & desktop screens */
@media (max-width:1530px) {

.h-box2 {
    width: 600px;
    /* background: burlywood; */
}
    
.project-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}
.project-boxes > div:nth-child(1) {
    max-width: 600px;
    /* background: cornflowerblue; */
}
.project-boxes > div:nth-child(1) img {
    width: 100%;
}
.project-boxes > div:nth-child(2) {
    max-width: 700px;
}


}



/* laptop screens */
@media (max-width:1200px) {
    
/* about us */

.about-box {
    width: 95%;
    height: 95%;
    margin: auto;
    /* background: cadetblue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about-box > div:nth-child(1) {
    max-width: 800px;
    height:1000px;
    z-index: 2;
    /* background: rgba(255, 0, 0, 0.5); */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3rem);
    margin: 0px;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-box > div:nth-child(1) > div {
    width: 90%;
    height: 80%;
    color: black;
}
.about-box > div:nth-child(1) > div h1 {
    text-align: center;
    font-weight: 900;
    font-size: 35px;
    background: linear-gradient(to bottom right, rgb(220, 206, 255), rgb(255, 217, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}
.about-box > div:nth-child(1) > div h3 {
    text-align: center;
    font-size: 20px;
    color: rgba(139, 139, 139,0.8);
    margin-bottom: 10px;
}
.about-box > div:nth-child(1) > div p {
    line-height: 1.6rem;
    margin-bottom: 20px;
    font-size: 18px;
    color: rgba(139, 139, 139,0.8);
    margin-bottom: 10px;
}
.about-box > div:nth-child(2) {
    /* background: crimson; */
    margin-left: 0px;
    padding: 0px;
    max-width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.project-boxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}
.project-boxes > div:nth-child(1) {
    max-width: 700px;
    /* background: cornflowerblue; */
}
.project-boxes > div:nth-child(1) img {
    width: 100%;
}
.project-boxes > div:nth-child(2) {
    max-width: 700px;
}
.pb2 {
    padding: 15px 0;
}
.pb2 h1{
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
    margin: 10px 0;
    background: linear-gradient(to bottom right, rgb(220, 206, 255), rgb(255, 217, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.pb2 p {
    margin-bottom: 30px;
    /* text-align: center; */
    font-size: 20px;
    line-height: 1.6rem;
    color: rgb(146, 146, 146);
}

}

@media (max-width:1100px) {
   
/* Heading */
.heading {
    max-width: 1800px;
    margin: 15vh auto;
    /* background:lavenderblush; */
    /* border: 3px solid gold; */
    padding: 20px;
    text-align: center;

}
.heading-box {
    /* background: cornflowerblue; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.h-box1,.h-box2 {
    margin: 70px 0;
}

}




/* tablet and laptop screens */
@media (max-width:850px) {

.h-box2 {
    width: 500px;
    /* background: burlywood; */
}

.about-box {
    width: 95%;
    height: auto;
    margin: auto;
    /* background: cadetblue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about-box > div:nth-child(1) {
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 5vh 0;
    z-index: 2;
    /* background: rgba(255, 0, 0, 0.5); */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3rem);
    border-radius: 6px;
    margin: 0px;
    margin-bottom: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-box > div:nth-child(1) > div {
    width: 90%;
    min-height: 100px;
    padding: 20px 0;
    color: black;
    /* background: chartreuse; */
}
.about-box > div:nth-child(1) > div h1 {
    text-align: center;
    font-weight: 900;
    font-size: 35px;
    background: linear-gradient(to bottom right, rgb(220, 206, 255), rgb(255, 217, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}
.about-box > div:nth-child(1) > div h3 {
    text-align: center;
    font-size: 20px;
    color: rgba(139, 139, 139,0.8);
    margin-bottom: 10px;
}
.about-box > div:nth-child(1) > div p {
    line-height: 1.6rem;
    margin-bottom: 20px;
    font-size: 18px;
    color: rgba(139, 139, 139,0.8);
    margin-bottom: 10px;
}
.about-box > div:nth-child(2) {
    /* background: crimson; */
    margin-left: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


}

/* tablet screens */
@media (max-width:768px) {
    .h-box2 {
        width: 500px;
        /* background: burlywood; */
    }
}

/* portrait and mobile screens */
@media (max-width:576px) {
    .heading {
        max-width: 1800px;
        margin: 1vh auto 0vh auto;
        /* background:lavenderblush; */
        /* border: 3px solid gold; */
        padding: 20px;
    
    }   
.h-intro {
    font-size: 50px;
    background: linear-gradient(to right, rgb(204, 194, 211), rgb(255, 217, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hb-intro {
    font-size: 40px;
    color: rgb(224, 224, 224);
    margin:0 0 30px 0;
}
.sub-intro {
    margin: 20px 0 40px 0;
    font-size: 20px;
    color: rgb(158, 158, 158);
}
    .h-box2 {
        width: 300px;
        /* background: burlywood; */
    }
    .mint {
        max-width: 330px;   
        min-height: 300px;
        background: rgb(23, 31, 31);
        border: 3px solid rgb(158, 134, 0);
        border-radius: 6px;
        margin: 15vh auto;
        padding: 15px;
    }
    
}